/* CSS Document */
.product_range{
	background-image:url(images/rang_bak.png);
	width:353px;
	height:58px;
	position:relative;
}

.product_range .strip_content{
	width:280px;
	height:7px;
	position:absolute;
	z-index:1;
	border: 1px solid #ccc;	
	left:60px;
	top:17px;
}

.product_range .strip_content .strip_step{
	height:7px;
	position:absolute;
	z-index:1;
	top:0px;
	border-right: 2px solid #333;
	font-size:11px;
	letter-spacing: 1px;
	font-family: arial;
}
.product_range .strip_content .strip_step .price{
	position:absolute;
	z-index:1;
	top:-20px;
	right:30px;

}
.product_range .strip_content .strip_step .amount{
	position:absolute;
	z-index:1;
	bottom:-20px;
	right:-10px;

}

.product_range .strip_content .strip{
	height:7px;
	position:absolute;
	z-index:0;
	top:0px;
	background-color:#199513;

}